<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net45" />
  <package id="Microsoft.Xml.XMLGen" version="1.0.0" targetFramework="net45" />
  <package id="WPF.JoshSmith" version="2.0.0.0" targetFramework="net45" />
  <package id="Wpf.Themes" version="1.1.0" targetFramework="net45" />
  <package id="wpfthemes" version="0.0.1" targetFramework="net45" />
</packages>